{% extends 'registration/home.html' %}
{% load static %}
{% block currencycalc %}
<div id="currencydisplay" style='display: flex; background-color: lightblue; border: 1px solid; border-radius: 10px;'>
<h1>Currency Conversion</h1>
<form method="post">
    {% csrf_token %}
    <label for="source_country">Source Country:</label>
    <input type="text" id="source_country" name="source_country"><br><br>
    <label for="target_country">Target Country:</label>
    <input type="text" id="target_country" name="target_country"><br><br>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount"><br><br>
    <input type="submit" value="Convert">
</form>

{% if converted_amount %}
<h2>Conversion Result:</h2>
<p>{{ amount }} {{ source_country }} = {{ converted_amount }} {{ target_country }}</p>
{% endif %}

</div>
{% endblock %}