{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login </title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'loginstylesheet.css' %}">
  </head>
  <body>
	<header>
		<div class="header-logo">
		  <img src="{% static 'images/WanderWhiz-1_5.png'  %}"  alt="Logo" width="160" height="60">
		</div>
		<nav>
		  <ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Login</a></li>
			<li><a href="#">Sign Up</a></li>
		  </ul>
		</nav>
	  </header>
	  <div class="login-container">
		<div class="login-box">
		  <div class="lock-icon">
			<img src="{% static 'images/lock-4529981_1280.png'  %} " alt="Lock Icon" width="200" height="200">
		  </div>
		  <h2>Login</h2>
		  <form>
			<div class="input-container">
			  <label for="username">Username:</label>
			  <input type="text" id="username" name="username" required>
			</div>
			<div class="input-container">
			  <label for="password">Password:</label>
			  <input type="password" id="password" name="password" required>
			</div>
			<div class="button-container">
			  <button type="submit">Login</button>
			</div>
		  </form>
		</div>
	  </div>
	  <footer>
		<div class="container-footer">
		  <div class="footer-links">
			<a href="#">About Us</a>
			<a href="#">Contact</a>
		  </div>
		  <div class="footer-logo">
			<img src="{% static 'images/WanderWhiz-1_5.png'  %}"  alt="Logo" width="160" height="60">
		  </div>
		</div>
	  </footer>
  </body>
</html>
